.pricing_table {
    display: flex;
    flex-flow: row wrap;
    max-width: 80%;
}

.item {
    flex: 1 0 280px;
    display: flex;
    flex-flow: column;
}
.item-info {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.pricing_table{
    margin: 0 auto;
    font-family: Helvetica;
}

.item {
    margin: 0 10px 10px;
  border: 3px solid #a6a6a6;
  }
.item--cta {
    border-color: #9dc7e3;
}

.item_header {
    font-size: 2.5rem;
    margin: 0 0 0.6rem;
    background: #212121;
    color: #ededed;
    padding: 10px;
    text-align: center;
}

.item_header--cta {
    background: #0476bd;
}
.item-info {
    border-top: 1px solid #ccc;
}

.item-info-price {
    font-size: 1.5rem;
}
.btn {
    margin: 20px;
    background: #9cc23c;
    display: block;
    border: 2px solid #aecc62;
    color: #fff;
    font-size: 1rem;
}