.test {
    width:500px;
    Height:500px;
    color:brown;
    background-color: aquamarine;
    border: 5px solid yellow;
   }

   .test1 {
    width:500px;
    Height:500px;
    color:brown;
    background-color: aquamarine;
    border: 5px solid yellow;
   }



