@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

$fontColor:#080f1a;
$fontColorLight:#185bd7;
$buttonColor: #303ca5;
$priceBackground: #f4f6fc;
$font-family: 'Nunito Sans', sans-serif;
  


