.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-item {
    background-color: orange;
    margin: 10px;
    flex-grow: 1;
}

.flex-grow {
    flex-grow: 1;
}
.heigh-100 {
    height: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
}
.grid-item {
    background-color: aquamarine;
    grid-gap
}

.grid-item-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-item-2 {
    grid-column: span 2;
}
