.grid-container {
    display: grid;
    grid-template-columns: repeat (6 1fr);
    grid-gap: 10px;
    }

.grid-item {
    text-align: center;
    color: beige;
    background-color: yellowgreen;
}

.grid-item-2 {
    grid-column: 4 / 7 ;
    grid-row: 2;
}

.grid-container div:nth-child(odd) {
    background-color: orange;
}
