input:read-only {
    background-color: grey;
  }
  
  
  input:in-range {
    border: 3px solid green;
  }
  
  input:out-of-range {
    border: 3px solid red;
  }
  
  input:required {
    border-left: 3px solid blue;
  }

  input[type='button'] {
    background-color: green;
    color: white;
  }
  
  input[type='button']:hover {
    background-color: darkgreen;
  }
  
  input[type='checkbox']:checked + label {
    color: blue;
  }
  
  input:valid {
    border: 3px solid green;
  }
  
  input:invalid {
    border: 3px solid red;
  }
  
  .comments {
    height: 100px;
    width: 200px;
  }

