body{
    background-image: url("road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
background-color: #eee;
max-width: 500px;
margin: auto;
margin-top: 40px;
padding: 40px;
}

h1{
    text-align: center;
    color: #333;
    }

input, textarea{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 5px 5px 0;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    }

input:focus, textarea:focus{
    outline: none;
    border-bottom: 1px solid aqua;
}

input[type-submint]{
        background-color: #333;
        color: white;
        width: 30%;
        cursor: pointer;
        position:realative;
    }
#submit{
    background-color: #333;
    width: 150px;
    height: 30px;
    color: white
} 