body{
    background-color: grey;
    width:800px
}

header{
    background-color: white;
    border-radius: 0/5rem;
    box-shadow: 1px 1px 2px darkblue;
    margin: 5rem;
    padding: 10rem;
    text-align: center;
    width: 50%;
  }
header img {
    height: 80px;    
}

h1 {
    padding: 0%;
}
header a {
   color:#000; 
   margin: 0 1rem;
   text-decoration: none;
}
