.header {
    padding: 60px;
    background-position: center;
    text-align: center;
    background-image:url(code.webp);
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
  }

button {
    background-color: rgb(51, 46, 46);
    border: solid 2px white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      }
botton:hover {
        background-color: white;
        color:beige;
      }
        
button {
  transition-duration: 0.4s;
}

