.body {
    display: flex;
flex-direction: row;
align-content: space-between;
justify-content: space-evenly;
}

.border1 {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.flex-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 8px 8px;
}

.dot1 {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}




.border2 {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.flex-container2 {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
     
}

.flex-container2 .dot2:nth-of-type(2) {
    align-self: flex-end;
    
    }

.dot2 {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
   }




.border3 {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.flex-container3 {
    display: flex;
    align-items: center;
   justify-content : space-between;
   padding: 8px 8px 8px 8px;
   }

.flex-container3 .dot3:nth-last-of-type(1) {
        align-self: flex-end;
        
}

.flex-container3 .dot3:nth-last-of-type(3) {
            align-self: flex-start;
}

.dot3 {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


.border4 {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    }
    
.dot4 {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.flex-container4 {
    display:flex;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
    
}

.flex-container4 .column1 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
}



.border5 {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    }
    
.dot5 {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.flex-container5 {
    display:flex;
    justify-content: center;
    padding: 8px 8px 8px 8px;
}

.flex-container5 .column1 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
  }

.flex-container5 .column1:nth-of-type(2) {
    justify-content: center;
    }



.border6 {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    }
    
.dot6 {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.flex-container6 {
    display:flex;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
}

.flex-container6 .column1 {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}










