body {background-color: darkblue;}
.mainpink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: pink;
    align-items: center;
    width: 390px;
    height: 350px;
    border-radius: 10%;
    margin: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.button1 {
    background-color: lightyellow;
    color: blue;
    border-radius: 20%;
    width: 85px;
    height: 60px;
}
.button2 {
background-color: lightseagreen;
color:beige;
border-radius: 20%;
width: 85px;
height: 60px;
}

.button3 {
    background-color: green;
    border-radius: 20%;
    width: 85px;
    height: 60px;
}

.firstrow > .button2 {
    width: 260px;
    border-radius: 10%;
    text-align: right;
  
}